{{ $paginator := .Paginate ( .Site.RegularPages ) }}
{{ range $paginator.Pages }}
<div class="post animated fadeInDown">
    <div class="post_title">
        <a href='{{ .RelPermalink }}'>
            <h2>{{ .Title }}</h2>
            {{ with .Params.Subtitle }}
            <h3>{{ . }}</h3>
            {{ end }}
        </a>
    </div>
    {{ partial "post-meta.html" . }}
    {{ if .Site.Params.enableSummary }}
    <div class="list">
        <div class="post_content markdown">
            <p>{{ .Summary }}......</p>
        </div>
    </div>
    {{ end }}
    <div class="post_footer"></div>   
</div>
{{ end }}

<div class="pagination">
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    {{ if $paginator.HasPrev }}
    <a href="{{$paginator.Prev.URL}}" class="pre">
        {{ i18n "prev_page" }}
    </a>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a href="{{$paginator.Next.URL}}" class="next">
        {{ i18n "next_page" }}
    </a>
    {{ end }}
    {{ end }}
</div>