<section class="post_meta">
    <div class="meta">
        <div class="info">
            <span class="field">
                <i class="ri-map-pin-time-line"></i>
                <span class="date">{{ .Date.Format "2006.01.02" }}</span>
            </span>
            {{ with .Params.tags }}
            <span class="field tags">
                <i class="ri-stack-line"></i>
                {{ range . }}
                <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>
    </div>
</section>