<div class="content-toggle" >
    <ul role="tablist">
    {{ $toggleTotal := .Get "toggleTotal" }}
    {{- range $i, $sequence := (seq $toggleTotal) -}}
    {{ $toggleName := (print "toggleName" $sequence) }}
    {{- if eq $sequence 1 -}}
        <li>
            <button class="toggle-item active" title="toggle-{{ $toggleName }}" role="tab"
                aria-controls="toggle-home" aria-selected="true">{{- $.Get $toggleName -}}</a>
        </li>
    {{- else -}}
        <li>
            <button class="toggle-item" title="toggle-{{ $toggleName }}" role="button"
                aria-controls="toggle-home" aria-selected="false">{{- $.Get $toggleName -}}</a>
        </li>
    {{- end -}}
    {{- end -}}
    </ul>
</div>
