{{- $file := .Get "file" | path.Join (path.Dir .Page.File.Path) | relLangURL | path.Join "content" -}}
{{- $fileContent := (readFile $file) -}}

{{- if .Get "toreplace" -}}

    {{- $replaceTarget := .Get "toreplace" -}}

    {{- with .Get "withtext" -}}
    {{- replace $fileContent $replaceTarget . | safeHTML -}}
    {{- end -}}

    {{- with .Get "withfile" -}}
    {{- . | path.Join (path.Dir $.Page.File.Path) | relLangURL | path.Join "content" | readFile | replace $fileContent $replaceTarget | safeHTML -}}
    {{- end -}}

{{- else -}}
    {{- $file | readFile | safeHTML -}}
{{- end -}}
